.videosidebar{
    position: absolute;
    top: 50%;
    /* 50% da borda a partir da borada superiror*/
    right: 20px;
    color: white;
}

.videosidebar__options{
    padding: 20px;
    text-align: center;
}